<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="ServiceCount" value="15"/>
    <add key="ServiceSleepMaxInterval" value="10"/>
    <add key="ServiceLogFile" value="C:\PwC\Projects\SourceCode\Firs_9_ECL\Code\Ecobank.IFRS9.ECL.Service[i]\bin\Release\Log\IFRS_ECL.log"/>
  </appSettings>
  
</configuration>